body{
    color: #b1eeed;
}

.card{
    margin:auto;
    margin-top: 60px;
}

.form-check-inline {
    display: inline-block;
    margin-right: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-nav > li{
    padding-left:62px;
    padding-right:62px;
}